{% extends "base.html" %}

{% load static %}

{% block content %}

    <!--Contenido -->

{% for post in posts %}

    <div class="contenido-blog">
        <div class="row blog">
            <div class="text-center rounded">
                <h2 class="section-heading mb-5">
                    <span class="section-heading-upper">{{ post.published|date:'SHORT_DATE_FORMAT' }}</span>
                    <span class="section-heading-lower">{{ post.title }}</span>
                </h2>
                <p class="mb-0">
                    <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="{{ post.image.url }}" alt="">
                </p>
                <p class="texto mb-0 mbt">{{ post.content|linebreaks }}</p>
                <p class="card-footer">
                    <span>
                        Publicado por <b>{{ post.autor }}</b>

                        {% for category in post.categories.all %}
                        <a href="#">{{ category.name }}</a> {% if not forloop.last %} - {% endif %}
                        {% endfor %}

                    </span>
                </p>
            </div>
        </div>
    </div>

{% endfor %}

{% endblock content %}
